body {
    padding-top: 120px;
    padding-bottom: 120px;
    /*background-color: #eee;*/
    background-image: url(/resources/receiptBackground5.jpeg);
}


.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}

span.k-icon {
    margin-top: 8px !important;
}

span.k-i-arrowhead-s{
    margin-top: 0 !important;
}

div.k-grouping-header {
    background-color: #5cb85c;
}

.form-signin input {
    margin-bottom: 10px;
}

.receiptLine {
    border-bottom: 1px solid black;
}

.receiptTable {
    width: 100%;
}

.centerText {
    text-align: center;
}

.rightText {
    text-align: right;
}

table.receiptTable tr td.receiptItem {
    padding-bottom: 5em !important;
}

table.receiptTable tr td.receiptHeader {
    padding-bottom: 1em !important;
}

table.k-selectable tr {
    cursor: pointer !important;
}

.barcodeIcon {
    font-size: 30px;
}

.categoriesSelect {
    width: 400px;
}

.categoriesSelectBtn {
    float: left !important;
    width: 400px;
}

.receiptButton {
    width: 100px;
    margin-top: 20px;
}

#categoryDateForm {
    margin-top: 10px;
}

#categoryChartDiv {
    margin-top: 15px;
}

.chartLabel {
    font-size: large;
    margin-bottom: 20px;
    display: block;
}

.dateRangeLabel {
    font-size: large;
    display: block;
}

.red {
    color: #d9534f;
}

.yellow {
    color: #f0ad4e;
}

.green {
    color: #5cb85c;
}

.budgetItemDetails {
    margin-bottom: 15px;
}

.receiptsMap {
    width: 100%;
    height: 500px;
    margin-top: 11px;
}

#numReceipts{
    margin-bottom: 20px;
}

.export {
    cursor: pointer;
}

.floatRight {
    float: right;
}

#numReceiptsForm {
    margin-bottom: 30px;
}

.addBottomMargin {
    margin-bottom: 20px;
}